# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model files (optional, if you want to keep them local only)
*.pkl
